<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Buyshopflex>
            <version>0.1.1</version>
        </Etheme_Buyshopflex>
    </modules>
    <frontend>
        <layout>
            <updates>
                <buyshopflex>
                    <file>buyshopflex.xml</file>
                </buyshopflex>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<buyshopflex>
				<use>admin</use>
				<args>
					<module>Etheme_Buyshopflex</module>
					<frontName>buyshopflex</frontName>
				</args>
			</buyshopflex>
        </routers>
    </admin>
    <adminhtml>
		<menu>
            <etheme>

                <children>
                    <slider>
                        <title>Slider Configuration</title>
                        <sort_order>3</sort_order>
                        <children>
                            <flex>
                                <title>Flex slider</title>
                                <sort_order>1</sort_order>
                                <action></action>
                                <children>
                                    <upload>
                                        <title>Manage slides</title>
                                        <sort_order>1</sort_order>
                                        <action>buyshopflex/adminhtml_buyshopflex</action>
                                    </upload>
                                    <settings>
                                        <title>Settings</title>
                                        <sort_order>2</sort_order>
                                        <action>adminhtml/system_config/edit/section/buyshopflex</action>
                                    </settings>
                                </children>
                            </flex>
                        </children>
                    </slider>
                </children>
            </etheme>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                         <system>
                            <children>
                                <config>
                                    <children>
                                        <buyshopflex>
                                            <title>Buyshop - Flexslider</title>
                                        </buyshopflex>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <etheme>
                            <title>eTheme - BuyShop</title>
                            <children>
                                <slider>
                                    <title>Slider Configuration</title>
                                    <children>
                                        <flex>
                                            <title>Flex slider</title>
                                            <children>
                                                <settings>
                                                    <title>Settings</title>
                                                </settings>
                                                <upload>
                                                    <title>Upload slides</title>
                                                </upload>
                                            </children>
                                        </flex>
                                    </children>
                                </slider>
                            </children>
                        </etheme>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <models>
            <buyshopflex>
                <class>Etheme_Buyshopflex_Model</class>
                <resourceModel>buyshopflex_mysql4</resourceModel>
            </buyshopflex>
            <buyshopflex_mysql4>
                <class>Etheme_Buyshopflex_Model_Mysql4</class>
                <entities>
                    <buyshopflex>
                        <table>buyshopflex</table>
                    </buyshopflex>
	                <buyshopflex_store>
                        <table>buyshopflex_store</table>
                    </buyshopflex_store>
                </entities>
            </buyshopflex_mysql4>
       </models>
       <resources>
	      <buyshopflex_setup>
	        <setup>
	          <module>Etheme_Buyshopflex</module>
	        </setup>
	        <connection>
	          <use>core_setup</use>
	        </connection>
	      </buyshopflex_setup>
	      <buyshopflex_write>
	        <connection>
	          <use>core_write</use>
	        </connection>
	      </buyshopflex_write>
	      <buyshopflex_read>
	        <connection>
	          <use>core_read</use>
	        </connection>
	      </buyshopflex_read>
	    </resources>
        <blocks>
            <buyshopflex>
                <class>etheme_buyshopflex_Block</class>
            </buyshopflex>
        </blocks>
        <helpers>
            <buyshopflex>
                <class>etheme_buyshopflex_Helper</class>
            </buyshopflex>
        </helpers>
    </global>
</config>